body, p {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1400px;
}

a {
    text-decoration: none;
}

header .btns {
    background: #231815;
}

h1 {
    color: #231815;
}

.price {
    color: #E45302;
}